index.vtl

<h1>Welcome to To Do List</h1>

<h3><a href="/categories"><button class="btn">Add or view a Category</button></a></h3>
<h3><a href="/tasks"><button class="btn">Add or view a Task</button></a></h3>
